html{
  padding: 0;
  margin: 0;
  font-family: 'Merriweather','Roboto';
}

body{
  background-color: #F2F1E8;
  color: #131511;
}

.site-header{
  background: white;
  background-image: url("images/bent-creek-logo.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 5em;
  text-decoration: none;
  background-size: 75px;
}

nav{
  padding: 2% 1%;
  margin: 20px;
  justify-content: center;
  display: flex;
  color: #FFFFFF;
}

a:hover{
  color: #968772;
}

nav a{
  font-size: 2em;
  margin: 0 20px;
  color: #2B2F26;
  text-transform: uppercase;

}

nav a:hover{
    color: #CD5D67;
}

nav a:active{
  color: #968772;
}

.header_title{
  text-align: center;
}

/*This is for Home page styling*/
.h1{
  font-weight: 200;
  font-size: 60px;
  font-family: Roboto;
  margin-bottom: -26px;
  margin-top: 20px;
}
.h2{
font-size: 42px;
padding-bottom: 0;
font-weight: 300;
}

/*Home Photos and organization*/
.row1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

/*.pic1row1 span{
  padding: 10px;

}*/

.row2{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.pic1row1 img{
  width: 728px;
  height: 371px;
}

.pic2row1 img{
  width: 232px;
  height: 371px;
}

.pic3row1 img{
  width: 232px;
  height: 371px;
}

.pic1row2 img{
  width: 231px;
  height: 243px;
}

.pic2row2 img{
  width: 231px;
  height: 243px;
}
.pic3row2 img{
  width: 483px;
  height: 243px;
}
.pic4row2 img{
  width: 231px;
  height: 243px;
}

div > p{
  position: relative; /*THIS IS SO THE PARAGRAPH BACKGROUND SHOWS UP ON THE PICTURE, MOVES WHOLE P ON TOP OF THE PICTURE*/
  margin-top: -3em;
  margin-left: 1em;
  padding: .5em;
  background-color: black;
  color: white;
  margin-right: auto;
  width: 173px;
}

.pic2row1 p{
  width: 45px;
}

.pic3row1 p{
  width: 68px;
}

.pic1row2 p{
  width: 78px;
}

.pic3row2 p{
  width: 135px;
}
/*This is for about page style*/
.wrapper{
  flex-direction: column;
  align-items: center;
}

.part1 p a{
  color: #968772;
}

.part1 p a:hover{
  color: #967343;
}

.part1 img{
  height: 247px;
  width: 355px;
}
main{
  flex-direction: column;
}

.part1 p{
  font-family: 'Merriweather','Roboto';
  line-height: 1.6em;
  margin-top: 85px;
}

.part1{
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0 234px 0 236px;
}

.part2{
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 35px 234px 0 236px;
}

.picUp{
  float: left;
  margin-right: 20px;
  padding-bottom: 15px
}

.grow{
  background-image: url("images/background-3.jpg");
  background-size: cover;
  height: 250px;
  width: 100%;
}

.part1 img{
  weight: 226px;
    width: 278px;
}
/*
aside img{
  width: 90px;
}

aside .aside{
  width: 10em;
  float: right;
}
*/
.roomtext{
  justify-content: center;
  color: white;
  padding-left: 360px;
  font-size: 45px;
}

table{
border: 1px #000 solid;
border-collapse: collapse;
font-weight: 400;
margin: 0 0 25px 0;
}

table thead td{
  text-align: center;
  background-color: #f2f1e8;
}

table th td{
  background-color: #1fabe5;
  color: white;
  border: 1px #000 solid;
}

table td {
  padding: 10px;
  margin: 0;
  border: 1px #000 solid;
}
/*NEWSLETTER CODE*/
#newsletterPage{
  background-image: url("images/background-2.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}

#newsletterPage .signUp{
  background-color: #fff;
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  /*position:absolute;
  top:50%;
  left:50%;
  margin-top:-50px;
  margin-left:-100px;
  background: white;*/
}

.signUp{

  padding-top: 0px;
}

.signUp h1{
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 0;
  text-align: center;
}

.signUp h2{
  font-size: 20px;
  font-weight: 400px;
  margin-bottom: 40px;
  text-align: center;

}
form{
    /*background: white;
    padding: 20px;
    box-shadow: 0 5px 8px black;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    display: inline-block;
    box-sizing: border-box;*/
  display: flex;
  flex-direction: column;
  /*align-items: center; JUST INC ASE YOU NEED IT BACK*/

}

form input{
  border: none;
  border-bottom: 2px solid #968772;
  padding: 5px;
}


form label{
  padding: 8px;
  color: #968772;
}
button{
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 14px;
  color: #F2F1E8;
  margin-left: 159px;
  margin-right: 159px;
  background-color: #968772;
}

button:hover{
  color: #FFFFFF;
  background-color: #967343;
}

button:focus{
  border: #967343;
}

figure {
  float: right;
  width: 10em;
}

figure img {
  width: 10em;
  height: auto;
}

figcaption {
  font-size: 12px;
  line-height: 1.5em;
}

/*This is the footer for home and about page*/
.footy{
  background-color: #20241d;
  padding: 20px;
  color: white;
}

/*
Tryout one Home page keep trying.
.photos{
  width: 400px;
  height: auto;
 }

 .row1{
   display: flex;
   flex-wrap: nowrap;
   margin-bottom: -280px;
 }

.row2{
  display: flex;
  flex-wrap: nowrap;

}

.pic1row1 img{
  height: 68%;
  width: 98%;
  padding-left: 20px;
}

.pic2row1 img{
  height: 68%;
  width: 93%;
  padding-left: 20px;

}
.pic3row1 img{
  height: 68%;
  width: 66%;
  padding-left: 20px;

}


.pic1row2 img{
  height: 72%;
  width: 78%;
  padding-left: 20px;

}

.pic2row2 img{
  height: 71%;
  width: 100%;
  padding-left: 20px;

}
.pic3row2 img{
  height: 71%;
  width: 96%;
  padding-left: 20px;

}
.pic4row2 img{
  height: 71%;
  width: 100%;
  padding-left: 20px;

}
*/
